<html>
	<head>
		<title>AngularJS入门小demo-4 控制器</title>
		<script src="angular.min.js"></script>
		<script>
			// 建立模块
			var app=angular.module("myApp", []);
			// 创建控制器 $cope 就是控制层与视图层之间交换数据的桥梁
			app.controller("myController", function($scope){
				$scope.add=function(){
					return parseInt($scope.x) + parseInt($scope.y);
				}
			}) 
		</script>
	</head>
	<body ng-app="myApp" ng-controller="myController">
		第一个数：<input ng-model="x"><br/>
		第二个数：<input ng-model="y"><br/>
		两数之和：{{add()}}
	</body>
</html>