<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        textarea{
            resize: none;
        }
    </style>
</head>
<body ng-app="noteApp">
    <!--
        H5 本地存储技术（1和2）
            1、sessionStorage(会话存储)
                - 生命周期：浏览器打开到关闭的过程
                - 大小：5M
                - 保存的位置：浏览器端
                - setItem('key', value)
                - getItem('key')
                - removeItem('key')
            2、localStorage(永久存储)
                - 生命周期：永久，除非人为删除
                - 大小：5M甚至更大
                - 保存的位置：浏览器端
                - setItem('key', value)
                - getItem('key')
                - removeItem('key')
            3、cookie
                作用：用于浏览器和服务器端进行通信的
                特点：
                    - 大小：4kb
                    - 每次发送请求都携带，导致占用带宽
                    - 保存在浏览器端
                    - cookie容易被截获，不安全
                    -生命周期：
                        - 会话cookie：浏览器打开到关闭的过程
                        - 人为设置cookie：人为设置的时间
    -->
    <div ng-controller="NoteController">
        <h2>我的笔记</h2>
        <textarea cols="30" rows="10" ng-model="message"></textarea>
        <div>
            <button ng-click="save()">保存</button>
            <button ng-click="read()">读取</button>
            <button ng-click="remove()">删除</button>
        </div>
        <p>剩余字数：{{getCount()}}</p>
    </div>

<script type="text/javascript" src="../../js/angular-1.5.5/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>

</html>